@media only screen and (max-width: 1200px) {
    .history-section-box {
        margin-top: -4%;
    }
}

@media only screen and (max-width: 992px) {
    .nav-menu2 {
        display: inline-block;
        margin-left: 0;
    }

    .nav-menu {
        margin-left: 5px;
    }

    .navbar-button {
        margin-left: 5px;
    }

    .banner-section-pic {
        width: 100%;
        margin-top: 25%;
    }

    .history-section-box {
        margin-top: -5%;
    }

    .banner-section-button {
        margin-top: 0;
        padding: 8px 10px;
        font-size: 12px;
      }

    .banner-section-button2 {
        margin-top: 0;
        padding: 8px 8px;
    }
    .about-section-pic-box{
        margin-top: 50%;
    }
    .award-section-box{
        width: 100%;
        height: 255px;
    }
    .award-section-box2{
        width: 100%;
        height: 255px;
    }
    .end-section-quick-para2{
        margin-left: 5px;

    }
}

@media only screen and (max-width: 774px) {
    .nav-menu2 {
        display: inline-block;
        margin-left: 0;
    }

    .nav-menu {
        margin-left: 5px;
    }

    .navbar-button {
        margin-left: 5px;
    }

    .banner-section-button {
        padding: 12px 10px;
        margin-left: 30px;
    }

    .banner-section-button2 {
        padding: 12px 10px;
    }

    .banner-section-pic {
        width: 100%;
        margin-top: 0;
    }

    .history-section-box-pic {
        padding: 0;
    }
    .about-section-pic-box{
        margin-top: 10px;
    }
    .award-section-box2{
        margin-top: 60px;
    }
}

@media only screen and (max-width: 421px) {
    .nav-menu2 {
        display: inline-block;
        margin-left: 0;
    }

    .nav-menu {
        margin-left: 5px;
    }

    .navbar-button {
        margin-left: 5px;
    }

    .banner-section-button {
        padding: 12px 5px;
        margin-left: 0;
    }

    .banner-section-button2 {
        padding: 12px 5px;
    }

    .banner-section-pic {
        width: 100%;
        margin-top: 0;
    }

    .history-section-box-pic {
        padding: 0;
    }
    .history-section-box-button{
        padding: 12px 5px;
    }
}